.cube-right {
  >*:nth-child(1) {
    border-left: unset;
    border-bottom: unset;
  }

  >*:nth-child(2) {
    border-left: unset;
  }

  >*:nth-child(6) {
    border: unset;
  }
}

.cube-left {
  >*:nth-child(1) {
    border-left: unset;
  }

  >*:nth-child(6) {
    border: unset;
  }
}

.cube-top {
  >*:nth-child(1) {
    border-right: unset;
    border-bottom: unset;
  }

  >*:nth-child(2) {
    border: unset;
  }

  >*:nth-child(3) {
    border: unset;
  }
}

.cube-middle {
  >*:nth-child(1) {
    border-top: unset;
    border-bottom: unset;
  }

  >*:nth-child(2) {
    border: unset;
  }

  >*:nth-child(5) {
    border: unset;
  }
}

.cube-bottom {
  >*:nth-child(1) {
    border-right: unset;
    border-top: unset;
    border-bottom: unset
  }

  >*:nth-child(2) {
    border-right: unset;
  }

  >*:nth-child(3) {
    border-left: unset;
    border-top: unset;
    border-bottom: unset;
  }

  >*:nth-child(5) {
    border: unset;
  }
}

.calc-border-active {
  background: #F00;
}