.cube-trap {
  >*:nth-child(3n+1) {
    border: 4rem solid transparent;
    border-left: 4rem solid #04582D;
    border-top: 4rem solid #04582D;
    display: block;
    background: transparent
  }

  >*:nth-child(2) {
    width: 12rem;
    transform: translateX(-2rem) translateY(3.5rem) translateZ(0.5rem) rotateX(-90deg) rotateY(45deg);
  }

  >*:nth-child(3) {
    display: none;
  }
}

.cube-right {
  >*:nth-child(1) {
    border-left: none;
    border-bottom: none;
  }

  >*:nth-child(2) {
    border-left: none;
  }

  >*:nth-child(6) {
    border: none;
  }
}

.cube-top {
  >*:nth-child(1) {
    border-right: none;
    border-bottom: none;
  }

  >*:nth-child(2) {
    border: none;
  }

  >*:nth-child(3) {
    border: none;
  }
}

.cube-middle {
  >*:nth-child(1) {
    border-top: none;
    border-bottom: none;
  }

  >*:nth-child(2) {
    border: none;
    background: none;
  }

  >*:nth-child(3) {
    border-left: none;
  }

  >*:nth-child(5) {
    border: none;
    background: none;
  }
}

.cube-bottom {
  >*:nth-child(1) {
    border-right: none;
    border-top: none;
    border-bottom: none
  }

  >*:nth-child(2) {
    border-right: none;
  }

  >*:nth-child(3) {
    border: none;
  }

  >*:nth-child(5) {
    border: none;
    background: none;
  }
}

.calc-border-active {
  background: $lite_green;
}

.calc-border-left {
  border-left: 8rem solid $dark_green!important;
}

.calc-border-right {
  border-right: 8rem solid $dark_green!important;
}

.isometric-container *:nth-child(1).calc-border-active {
  font-size: 3rem;
  text-align: center;
  line-height: 2.5;
}

.isometric-container *:nth-child(2).calc-border-active,
.isometric-container *:nth-child(3).calc-border-active {
  font-size: 1rem;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 1200px) {
  .cube-trap {
    >*:nth-child(2) {
      width: 11rem;
      transform: translateX(-1.6rem) translateY(3.5rem) translateZ(0.5rem) rotateX(-90deg) rotateY(45deg);
    }
  }
  
  .calc-border-right {
    border-right: 6rem solid #04582D !important;
  }
}

@media screen and (max-width: 991px) {
  .cube-trap {
    >*:nth-child(2) {
      width: 11rem;
      transform: translateX(-1.4rem) translateY(3.8rem) translateZ(0.5rem) rotateX(-90deg) rotateY(45deg);
    }
  }

  .calc-border-right {
    border-right: 3rem solid #04582D !important;
  }

  .isometric-container *:nth-child(1).calc-border-active {
    font-size: 2rem;
  }
}