@import isometric

$size: 1rem
$width: $size*17
$height: $size*8

.cube-right
  +cube($width, $height, $size, $dark_green)
  top: $width
  left: $height

.cube-middle
  +cube($height, $size+$height, $size, $dark_green)
  top: $height

.cube-top
  +cube($height, $height, $size, $dark_green)

.cube-bottom
  +cube($height, $height, $size, $dark_green)
  top: $width

.cube-left
  +cube($width, $height, $size, $dark_green)
  left: $height

.cube-trap
  +cube($height, $height, $size, $dark_green)
  top: $height
  left: $height


@media screen and (max-width: 1200px)
  $size: 0.8rem
  $width: $size*17
  $height: $size*8

  .cube-right
    +cube($width, $height, $size, $dark_green)
    top: $width
    left: $height

  .cube-middle
    +cube($height, $size+$height, $size, $dark_green)
    top: $height

  .cube-top
    +cube($height, $height, $size, $dark_green)

  .cube-bottom
    +cube($height, $height, $size, $dark_green)
    top: $width

  .cube-left
    +cube($width, $height, $size, $dark_green)
    left: $height

  .cube-trap
    +cube($height, $height, $size, $dark_green)
    top: $height
    left: $height

@media screen and (max-width: 991px)
  $size: 0.65rem
  $width: $size*17
  $height: $size*8

  .cube-right
    +cube($width, $height, $size, $dark_green)
    top: $width
    left: $height

  .cube-middle
    +cube($height, $size+$height, $size, $dark_green)
    top: $height

  .cube-top
    +cube($height, $height, $size, $dark_green)

  .cube-bottom
    +cube($height, $height, $size, $dark_green)
    top: $width

  .cube-left
    +cube($width, $height, $size, $dark_green)
    left: $height

  .cube-trap
    +cube($height, $height, $size, $dark_green)
    top: $height
    left: $height

@media screen and (max-width: 767px)
  .isometric-container
    display: none