// основная кнопка //
@mixin secondary_btn {
  font-family: "Futura";
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: $dark_green;
  box-shadow: 0px 5px 20px rgba(75, 75, 75, 0.5);
  border-radius: 34.5px;
  padding: 16px 21px;
  transition: 0.3s;
  z-index: 3;

  &:hover {
    background: #FFFFFF;
    color: $dark_green;
    text-decoration: none;
  }
}


.header_wrapper{
  padding: 14px 0px;
  background: $lite_green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .nav li {
    margin: 0px 10px;
  }
  .first-btn {
    @include secondary_btn();
  }
  .second-btn {
    @include secondary_btn();
    background: $middle_green;
    &:hover {
      color: $middle_green;
    }
  }
}