.header_wrapper {
  padding: 14px 0px;
  background: $lite_green;

  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav_item {
    margin: 0px 10px;

    &:hover {
      color: $dark_green;
      transform: none;
    }
  }

  .first-btn {
    @include secondary_btn();
    margin: 0px 15px;
  }

  .second-btn {
    @include secondary_btn();
    background: $middle_green;
    margin: 0px 15px;

    &:hover {
      color: $middle_green;
    }
  }
}
.mobile_nav_2 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  &_item {
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    @include align-center();

    &::after {
      content: "";
      width: 30px;
      height: 4px;
      background: #FFFFFF;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }

    &::before {
      content: "";
      width: 30px;
      height: 4px;
      background: #FFFFFF;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      margin-top: 8px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }
  }
}
.mobile_nav_2_active .mobile_nav_2_item::after {
  margin-left: 10px;
}

.mobile_nav_2_active .mobile_nav_2_item::before {
  margin-left: -10px;
}
.main_top_block {
  padding: 70px 0px;
  background: linear-gradient(180deg, #000000 -5.93%, rgba(24, 24, 24, 0.0001) 100%), url(../img/faq_hero_screen_bg.png);

  &_title {
    text-align: center;
  }
}
// аккордеон вопрос-ответ
.bg-grey {
  background: $lite_grey;
}
.faq-accordion {
  background: #FFFFFF;
  /* Shadow-white */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 50px;
  margin: 80px 0px;
}

.faq-card {
  border-bottom: 2px solid $lite_grey;
  background: #ffffff;
}

.faq-btn {
  text-decoration: none;
  border: none;
  display: inline-block;
  outline: none;
  font-family: "Futura";
  font-weight: bold;
  font-size: 22px;
  line-height: 64px;
  color: $black;
  background: #ffffff;
  transition: 0.4s;
  text-align: left;
  &:hover {
    color: $dark_green;
    text-decoration: none;
    outline: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:active {
    outline: none;
    color: $dark_green;
    text-decoration: none;
  }
  &:visited {
    outline: none;
    text-decoration: none;
  }
}
.btn-active {
  color:$dark_green;
  .btn-plus {
    &:after {
      background: $dark_green;
      transform: rotate(-315deg);
      transition: all 0.5s;
    }
    &:before {
      background: $dark_green;
      transform: rotate(315deg);
      transition: all 0.5s;
    }
  }
}
.btn-plus {
  display: inline-block;
  position: relative;
  margin: 0px 20px 0px 0px;
  &:after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 16px;
    background: #201600;
    top: 50%;
    margin-top: -8px;
  }
  &:before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 16px;
    background: #201600;
    transform: rotate(90deg);
    top: 50%;
    margin-top: -8px;
  }
  &:hover {
    background: $dark_green;
  }
}
.faq-card-body {
  margin-left: 30px;
  padding-bottom: 20px;
  font-family: "Circle_Rounded";
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

// форма заявки
.contact_form_2 {
  background: #FFFFFF;
  padding: 80px 0px;
  text-align: center;
  &_subtitle {
    font-family: "Futura";
    font-weight: bold;
    font-size: 22px;
    line-height: 64px;
    text-align: center;
    color: $middle_green;
  }
  .other_page_input[type=text] {
    background: url(../img/icons/placeholder-name.svg) no-repeat 10px center;
  }
  .other_page_input[type=email] {
    background: url(../img/icons/placeholder-mail.svg) no-repeat 10px center;
  }
}

.other_page_input, .other_page_textarea {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 3px solid $dark_green;
  outline: none;
  width: 100%;
  padding: 10px 10px 10px 45px;
  &::placeholder {
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: $middle_grey;
  }
  &:focus::placeholder {
    visibility: hidden;
  }
}
.other_page_textarea {
  padding: 10px;
  resize: none;
  margin-top: 80px;
  padding-bottom: 80px;
}

.safety_policy {
  font-family: "Circle_Rounded";
  font-weight: normal;
  font-size: 9px;
  line-height: 29px;
  text-align: center;
  color: $dark_grey;
  margin-top: 10px;
}
.contact_form_btn_2 {
  @include secondary-btn;
  border: none;
  width: 170px;
  margin-top: 30px;
  &:focus {
    outline: none;
  }
}