@font-face {
  font-family: "Futura";
  // src: url(../fonts/FuturaMediumC.woff) format("truetype");
  src: url(../fonts/futura-n.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
} 

@font-face {
  font-family: "Futura";
  // src: url(../fonts/FuturaDemiC.wolf) format("truetype");
  src: url(../fonts/Futura-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
} 

@font-face {
  font-family: "Circle_Rounded";
  src: url(../fonts/сirce_rounded.otf) format("truetype");
  font-style: normal;
  font-weight: normal;
} 

@font-face {
  font-family: "Circle_Rounded";
  src: url(../fonts/сirce_rounded_bold.otf) format("truetype");
  font-style: normal;
  font-weight: bold;
}