@font-face {
  font-family: "Futura";
  src: url(../fonts/futura_regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
} 

@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
} 

@font-face {
  font-family: "Circle_Rounded";
  src: url(../fonts/сirce_rounded.otf) format("truetype");
  font-style: normal;
  font-weight: normal;
} 

@font-face {
  font-family: "Circle_Rounded";
  src: url(../fonts/сirce_rounded_bold.otf) format("truetype");
  font-style: normal;
  font-weight: bold;
} 
@font-face {
  font-family: "Lucida_Grande";
  src: url(../fonts/lucida_grande_bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
} 