// спецификации для страницы

// основная кнопка //
@mixin main_btn {
  font-family: "Circle_Rounded";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: $lite_green;
  box-shadow: 0px 7px 11px rgba(75, 75, 75, 0.5);
  border-radius: 34.5px;
  padding: 25px 39px;
  transition: 0.3s;
  z-index: 3;

  &:hover {
    background: #FFFFFF;
    color: $lite_green;
    text-decoration: none;
  }
}

// выравнивание по горизонтали и ветрикали
@mixin align-center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important
}

// ----- HEADER ----- //

.hero_screen {
  background: url(../img/hero_screen_bg.png) no-repeat center center;
  background-size: cover;
  padding: 0px 0px 200px 0px;
  height: 100vh;
  z-index: 2;
  &_wrapper {
    display: flex;
  }
  &_title {
    padding: 130px 0px 40px 0px;
    text-align: center;
  }

  &_main_section {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &_logo {
    display: inline-block;
    width: 15%;
  }

  &_tel {
    text-align: right;
    margin: 0px 15px;

    &_text {
      font-family: "Futura";
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      margin: 0;
    }

    &_link {
      font-family: "Futura";
      font-weight: bold;
      font-size: 22px;
      line-height: 29px;
      color: $lite_green;
      transition: 0.3s;

      &:hover {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}

.top_block {
  display: flex;
  justify-content: right;
  align-items: center;
}

.desktop_nav {
  display: block;

  li {
    display: inline-block;
    margin: 0px 25px;
  }
}

.nav_item {
  font-family: "Futura";
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  transition: all 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $lite_green;
    transform: scale(1.2);
  }
}

.hero_screen_button button {
  @include main_btn();
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  &:focus {
    outline: none;
  }
}

.mobile_nav {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  &_item {
    width: 30px;
    height: 4px;
    background: $lite_green;
    border-radius: 2px;
    position: absolute;
    @include align-center();

    &::after {
      content: "";
      width: 30px;
      height: 4px;
      background: $lite_green;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }

    &::before {
      content: "";
      width: 30px;
      height: 4px;
      background: $lite_green;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      margin-top: 8px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }
  }
}
.nav_active_dark_green {
  color: $dark_green;
}
.nav_active_lite_green {
  color: $lite_green;
}
.mobile_nav_active .mobile_nav_item::after {
  margin-left: 10px;
}

.mobile_nav_active .mobile_nav_item::before {
  margin-left: -10px;
}

//---CONTENT BLOCK---/

.content_block .row:nth-child(2) {
  margin-top: 30vh;
}
.content_block {
  background: $dark_green;
  width: 100%;
  background: $dark_green;
  padding: 60px 0px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  &_title {
    text-align: right;
  }
  &_description {
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 30px 0px;
    .text-right-list {
      padding: 0;
      list-style: none;
      text-align: right;
      .text-right-item {
        position: relative;
        padding-right: 20px;
      }
      .text-right-item:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0%;
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #FFFFFF;
      }
    }
  }
  &_bg_1 {
    width: 110%;
    height: 110%;
    background: $middle_green;
    position: absolute;
    top: -66%;
    right: -45%;
    border-radius: 17%;
    transform: rotate(-15deg);
    overflow: hidden;
    z-index: 0;
  }
  &_bg_2 {
    width: 110%;
    height: 110%;
    background: #58AB4C;
    position: absolute;
    bottom: -66%;
    left: -45%;
    border-radius: 17%;
    transform: rotate(-15deg);
    overflow: hidden;
    z-index: 0;
  }
}
.slider_buttons {
  width: 30px;
}

.slider_number {
  font-family: "Futura";
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.content_block_btn {
  @include main_btn();
  display: block;
  width: 200px;
  margin: 0 0 0 auto;
}

.content_block .row:nth-child(2) .content_block_description {
  text-align: left;
}
.slider-progress img {
  width: 100%;
}
.arrow_down:focus, .arrow_up:focus {
  outline: none;
}
//---FEATURES---/

.features {
  padding: 100px 0px;
  &_title {
    margin-bottom: 50px;
  }
  &_over {
    font-family: "Circle_Rounded";
    font-weight: bold;
    font-size: 24px;
    line-height: 64px;
    color: $lite_green;
    display: block;
    position: absolute;
    top: -20px;
    z-index: 2;
    margin-left: 10px;
  }
  &_main_text {
    font-family: "Futura";
    font-style: normal;
    font-weight: bold;
    font-size: 135px;
    line-height: 154px;
    color: $middle_grey;
    display: block;
    position: absolute;
  }
  &_signature {
    font-family: "Circle_Rounded";
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: $lite_green;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.features_left_block, .features_center_block, .features_right_block {
  position: relative;
  min-height: 200px;
}
.features_left_block .features_over {
  margin-left: 20px;
}

//---OUR WORKS---/
.our_works {
  padding: 100px 0px;
  &_description p {
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #201600;
    width: 50%;
  }
  &_button {
    display: flex;
    justify-content: center;
  }
  &_btn {
    @include main_btn();
    padding: 25px 69px;
    display: inline-block;
    margin: 50px auto 0 auto;
  }
  &_gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    overflow: hidden;
  }
}
.gallery_item {
  width: 100%;
}
.our_works_gallery a:hover {
  transform: scale(1.05);
  transition: 0.5s
}

//---MAP & CONTACTS---/
.location_title {
  margin: 50px 0px;
}
.yandex_map {
  position: relative;
  iframe {
    height: 80vh;
  }
}
.contact_form {
  position: absolute;
  top: 50%;
  right: 130px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  &_title {
    font-family: "Futura";
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    color: $black;
    border-bottom: 3px solid $middle_grey;
    padding-bottom: 80px;
  }
  &_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
    background: #FFFFFF;
    min-width: 385px;
}
  &_main_block {
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
    .row {
    margin: 30px 0px;
  }
  &_link {
    display: block;
    color: $black;
    width: 100%;
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
  &_right {
    background: $lite_green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px;
    min-width: 385px;
    input, textarea {
      margin: 30px 0px;
    }
  }
}
.homepage_input {
  border: none;
  border-bottom: 3px solid #FFFFFF;
  background: none;
  padding: 10px;
  outline: none;
  width: 90%;
  color: #FFFFFF;
  font-family: "Circle_Rounded";
  font-weight: bold;
  caret-color: #FFFFFF;
  &::placeholder {
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
  &:focus::placeholder {
    visibility: hidden;
  }
}
.homepage_textarea {
  border: none;
  border-bottom: 3px solid #FFFFFF;
  background: none;
  padding: 10px;
  outline: none;
  width: 90%;
  color: #FFFFFF;
  font-family: "Circle_Rounded";
  font-weight: bold;
  resize: none;
  caret-color: #FFFFFF;
  cursor: progress;
  &::placeholder {
    font-family: "Circle_Rounded";
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
  &:focus::placeholder {
    visibility: hidden;
  }
}
.contact_form_btn {
  background: $black url(../img/icons/send.svg) no-repeat 80% 35%;
  border: none;
  font-family: "Futura";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 320px;
  height: 70px;
  transition: 0.5s;
  text-align: left;
  padding-left: 60px;
  &:hover {
    background: #FFFFFF url(../img/icons/send.svg) no-repeat 110% center;
    color: $black;
  }
  &:focus {
    outline: none;
  }
}