// цвета //
$black: #201600;
$lite_green: #ABCB56;
$middle_green: #048E47;
$dark_green: #04582D;
$lite_grey: #F6F6F6;
$dark_grey: #B1B1B1;
$middle_grey: #E1E1E1;
$white: #FFF;
$temperate_olive: #536E0C;

// вторая основная кнопка //
@mixin secondary_btn {
  font-family: "Futura";
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: $dark_green;
  box-shadow: 0px 5px 20px rgba(75, 75, 75, 0.5);
  border-radius: 34.5px;
  padding: 16px 21px;
  transition: 0.3s;
  z-index: 3;

  &:hover {
    background: #FFFFFF;
    color: $dark_green;
    text-decoration: none;
  }
}

// заголовки //
h1 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  color: $white;
}

h2 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: $white;
}

h3 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: $black;
}

h4 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $white;
}

h5 {
  font-family: "Circle_Rounded";
  font-size: 18px;
  line-height: 25px;
  color: $black;
}

h6 {
  font-family: "Circle_Rounded";
  font-size: 14px;
  line-height: 18px;
  color: $white;
}

//Дополнение бутстрапа
.no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.padding {
  &-vertical {
    &-60 {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &-top {
    &-60 {
      padding-top: 60px;
    }
  }

  &-left {
    &-5 {
      padding-left: 5px;
    }

    &-no {
      padding-left: 0px;
    }
  }
}

.margin {
  &-no {
    margin: 0;
  }

  &-vertical {
    &-no {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
    }
  }

  &-top {
    &-15 {
      margin-top: 15px!important;
    }

    &-30 {
      margin-top: 30px!important;
    }

    &-40 {
      margin-top: 40px;
    }

    &-60 {
      margin-top: 60px;
    }
  }

  &-right {
    &-15 {
      margin-right: 15px;
    }
  }

  &-bottom {
    &-no {
      margin-bottom: 0px;
    }

    &-auto {
      margin-bottom: auto;
    }

    &-10 {
      margin-bottom: 10px;
    }

    &-20 {
      margin-bottom: 20px;
    }

    &-25 {
      margin-bottom: 25px;
    }

    &-30 {
      margin-bottom: 25px;
    }

    &-35 {
      margin-bottom: 35px;
    }
  }
}

// Responsive - ДОЛЖЕН БЫТЬ ВСЕГДА ПОСЛЕДНИМ!!!
@import "fonts", "home_page", "calculator", "swiper", "footer", "faq", "news", "news_one", "works", "contacts", "responsive";