// цвета //
$black: #201600;
$lite_green: #ABCB56;
$middle_green: #048E47;
$dark_green: #04582D;
$lite_grey: #F6F6F6;
$middle_grey: #E1E1E1;

// заголовки //
h1 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  color: #FFFFFF;
}

h2 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #FFFFFF;
}

h3 {
  font-family: "Futura";
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #201600;
}

h5 {
  font-family: "CirceRounded";
  font-size: 18px;
  line-height: 25px;
  color: #201600;
}

@import "fonts", "home_page", "responsive", "calculator", "swiper";